:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #1a73e8;

  --color-status-error: #f74720;

  --text-primary: #d3d3d3;
  --text-secondary: var(--color-secondary);
  --text-accent: var(--color-accent);
  --text-placeholder: rgba(100, 100, 100, 0.8);

  --background: var(--color-primary);
  --background-transparent: rgba(0, 0, 0, 0.6);
  --background-blur: blur(10px);
  --background-border: #9c9c9c33;

  --max-content-width: 1300px;
}

body {
  font-family: sans-serif;
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-primary);
  font-size: 20px;
}

html,
body {
}

input,
textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
